/*1024*/
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica;
  }

  #logo-lidere-responsivo,
  .bi-menu-button-wide-fill {
    display: none;
  }

  #logo-desktop {
    width: 90%;
    height: 90%;
  }

  .navbar-brand {
    width: 30%;
  }

  .menu {
    padding: 10px 30px;
  }

  .nav-item {
    padding-left: 0px;
  }

  a {
    text-decoration: none;
    color: #d9d9d9;
    cursor: pointer;
  }

  .menu-item {
    color: #7a7a7a;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-link:hover {
    color: #ff9235;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #ff9235;
  }

  .nav-link .active {
    color: #251e18;
    border-bottom: 2px solid #251e18;
  }

  .termos {
    /*padding-left: 10px;*/
    height: 38px;
    background-color: #1f2327;
    padding: 5px;
  }

  .termos-item:first-child {
    /*color: #f8a154;*/
    color: #d9d9d9;
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
    /*opacity: 0.7;*/
  }

  .termos-item:nth-child(n + 2):nth-child(-n + 4) {
    /*color: #f8a154;*/
    color: #d9d9d9;
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
    /*opacity: 0.7;*/
  }

  .termos-item:hover {
    color: #f8a154;
    cursor: pointer;
  }
}

/*1440*/
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  body {
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica;
  }

  #logo-lidere-responsivo,
  .bi-menu-button-wide-fill {
    display: none;
  }

  #logo-desktop {
    width: 100%;
    height: 100%;
  }

  .navbar-brand {
    width: 30%;
  }

  .menu {
    padding: 10px 30px;
  }

  .nav-item {
    padding-left: 0px;
  }

  .menu-item {
    color: #7a7a7a;
    font-size: 28px;
    font-weight: bold;
  }

  .nav-link:hover,
  .menu-link:hover {
    color: #ff9235;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 3px solid #ff9235;
  }

  a {
    text-decoration: none;
    color: #d9d9d9;
    cursor: pointer;
  }

  .nav-link .active {
    color: #251e18;
    border-bottom: 2px solid #251e18;
  }

  .termos {
    /*padding-left: 10px;*/
    height: 40px;
    background-color: #1f2327;
    padding: 7px;
  }

  .termos-item:first-child {
    /*color: #f8a154;*/
    color: #d9d9d9;
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
    /*opacity: 0.7;*/
  }

  .termos-item:nth-child(n + 2):nth-child(-n + 4) {
    /*color: #f8a154;*/
    color: #d9d9d9;
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
    /*opacity: 0.7;*/
  }

  .termos-item:hover {
    color: #f8a154;
    cursor: pointer;
  }
}
